body {
  margin: 0;
  background-color: #311C13;
  color: #000;
  font-family: "Open Sans", sans-serif;
}
li {
  list-style-type: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
a{
  text-decoration: none;
}
#page{
  margin: 0 auto;
  width: 960px;
  background-color: #422F26;
  -webkit-box-shadow: 0px 3px 40px 4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 3px 40px 4px rgba(0, 0, 0, 1);
  box-shadow: 0px 3px 40px 4px rgba(0, 0, 0, 1);
}
.logotext{
	font-size: 24px;
	margin-top: 42px;
	color: #fff;
}
.color-main { color: #311C13 }  /* Main Primary color */
.color-primary-1 { color: #4B382F }
.color-background { color: #422F26 }
.color-highlight { color: #472718 }
.color-header { color: #3D1B0B }

.topbar{
  font-family: Verdana serif;
  color: #ccc;
  float: right;
  margin-right: 150px;
  height: 85px;
}
.topbar>ul{
	margin-top: 32px;
}

.topbar>ul>li{
  display: inline;
}
.myref{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.phone{
  text-decoration: none;
  font-weight: lighter;
  color: #fff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.icon{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.navbar{
  clear: both;
  display: block;
}

.navbar>ul{
  height: 66px;
  display: flex;
  overflow-x: hidden;
}

.navbar>ul>li{
  cursor: pointer;
  padding-top: 23px;
  width: 24%;
  background-color: #4B382F;
  border-right: 1px solid #6a5b54;
  flex: 1 0 auto;
  display: inline;
  text-align: center;
}
.navbar>ul>li>a{
  display: block;
}
.navbar>ul>li:hover{
  background-color: #3D1B0B;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.navbar>ul>li:last-child{
  border-right: none;
}
#logo{
  margin-top: 20px;
  border: 2px solid white;
  width: 650px;
  height: 300px;
}
.banner {
  background: url(./assets/b3.jpg) no-repeat 0px 0px;
  background-size: cover;
  min-height: 600px;
  text-align: center;
  padding: 4em 0;
}
h3, h4 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.about {
  padding: 75px 0px;
  background: #83796F;
}
.about h3 {
  font-size: 35px;
  padding-bottom: 20px;
  color: #000;
  font-weight: 600;
}
.about h6 {
  font-size: 15px;
  color: #000;
  font-weight: 300;
  width: 55%;
  margin: 0 auto;
  line-height: 30px;
}
.about-grids {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about-grids .about-item {
  display: block;
  flex-basis: 20%;
  padding: 1em;
}
.about-grids .about-item .about-item-icon {
  position: relative;
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto 1em auto;
}
.about-grids .about-item .about-item-icon span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.5s opacity;
}
.about-grids .about-item .about-item-icon img {
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(100%);
  transition: 0.5s filter;
}
.about-grids .about-item:hover .about-item-icon img {
  filter: grayscale(0%);
}
.about-grids h4 {
  color: #000;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 15px;
  transition: 0.5s color;
}
.aboutimage {
  border: 8px solid #cc0000;
  border-radius: 50%;
  padding: 0;
}
.about-grids p {
  line-height: 30px;
  font-size: 14px;
  color: #000;
}
.about-grid1,
.about-grid3 {
  width: 60%;
  text-align: right;
}
.about-grid1 {
  margin-bottom: 75px;
}
.about-grid1 h4,
.about-grid3 h4 {
  text-align: right;
}
.about-grid2 {
  width: 60%;
  margin: 0px 0px 75px 455px;
  text-align: left;
}
.about-grid2 h4 {
  text-align: left;
}
.about-grid4 {
  width: 60%;
  margin: 0px 0px 30px 455px;
}


.map iframe {
  width: 100%;
  height: 500px;
  border: 0;
}
.contact{
	height: auto;
  margin-top: -5px;
  margin-bottom: 0;
  background: #83796F;

}
.footer p{
  margin: 0;
  text-align: center;
  background: #83796F;
}

.col-md-4 {
	padding-left: 40px;
  width: 33.33333333%;
}


.contact-grids {
    width: 33.33333333%;
    float: left;
}
  .contact-grid1,
  .contact-grid2,
  .contact-grid3 {
  padding-bottom: 20px;
}

.contact h4 {
  margin-top: 15px;
    font-size: 25px;
    color: #000;
    margin-bottom: 25px;
    /*text-align: left;*/
    font-weight: 600;
}
.contact a{
	color: #000;
}

.contact a:hover{
	text-decoration: underline;
}
.contact p {
	margin-top: 5px;
	margin-bottom: 5px;
}